@model PollApp.ViewModel.ManagePollViewModel

<h2>Your Polls</h2>

<div asp-validation-summary="All" style="color:green"></div>
 
@if (Model.Polls.Count > 0)
{
    
    <table class="table">
        @foreach (var item in Model.Polls)
        {
            <tr>
                <td>@item.Title</td>
                <td><a asp-controller="User" asp-action="Update" asp-route-id="@item.ID">Update</a></td>
                <td><a asp-controller="User" asp-action="Del" asp-route-id="@item.ID">Delete</a></td>
            </tr>
        }
    </table>
}
@if (Model.Polls.Count == 0)
{
    <h2>Sorry, no polls yet! :(</h2>
}