@if (ViewBag.items.Count > 0)
{
    <table class="table" >
        @foreach (var item in ViewBag.items)
        {
        <tr>
            <td><a href="/Poll/ID/@item.ID">@item.Title</a></td>
        </tr>
        }
    </table>
} 
@if (ViewBag.items.Count == 0)
{
    <h2>Sorry no polls yet! :(</h2>
}