@model PollApp.ViewModel.SearchViewModel

<h1>@ViewBag.Title</h1>
<div asp-validation-summary="All"></div>

<form asp-action="Results" asp-controller="Search">
    <div>
        <label asp-for="Value"></label>
        <input asp-for="Value" />
    </div>
    <input type="submit" value="Search" />
</form>

@if (Model.Value != null)
{
    <h3>@Model.Polls.Count Result(s)</h3>
    <table class="table">
        @foreach (var item in Model.Polls)
        {
            <tr>
                <td><a href="/Poll/ID/@item.ID">@item.Title</a> | <a href="/Poll/ID/@item.ID/Results">Results</a></td>
            </tr>
        }
    </table>
}