@model PollApp.ViewModel.UserManagementAddRoleViewModel

<h3>Add Role For @Model.User</h3>
<form asp-controller="UserManagement" asp-action="AddRole" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="UserId" type="hidden"/>
    <select asp-for="NewRole" asp-items="@Model.Roles"></select>
    <input class="btn btn-lg btn-primary" type="submit" value="Add Role!"/>
</form>