@if (ViewBag.items.Count > 0)
{
    <table class="table">
        @foreach (var items in ViewBag.items)
        {
            <tr>
                <td><a href="/Poll/ID/@items.ID">@items.Title</a> | <a href="/Poll/ID/@items.ID/Results">Results</a></td>
            </tr>
        }
    </table>
}

@if (ViewBag.items.Count <= 0)
{
    <h2>Sorry, no polls yet. :(</h2>
}